@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-main: #212121;
    --bg-element: #1a1a1a;
    --border-default: #dadada;
    --border-accent: #e942b1;
    --border-active: #ff0059;
    --text-default: #dadada;
  }
}

.pad.active {
  border-color: var(--border-active);
}

@layer base {
    * {
        box-sizing: border-box;
    }
    body {
        margin: 0;
        font-family: system-ui, -apple-system, sans-serif;
        background-color: var(--bg-main);
    }
}